/* content */

/*
body {
    font-family: 'Raleway', sans-serif;
    background-color: #333;
}

#title {
        font-size: 32pt;
        font-weight: bold;
        padding: 12px;
}

#container {
        margin: 40px auto;
        overflow: hidden;
        padding: 12px;
        width: 1000px;
        background-color: #FFF;
        border: 1px solid #999;
        border-radius: 8px;
        box-shadow: 3px 3px 2px #222;
}

#content {
        padding: 12px;
}
*/


body{
    background-color:#DEEBF7;
    font-family: 'Ropa Sans', sans-serif;
}
input[type=button]{
    height:40px;
    padding:5px;
}
input[type=submit]{
    height:40px;
    padding:5px;
}
#container {
    width: 1100px;
    margin: 0px auto;
    border-radius: 0px;
}
#container h1{
    font-size:large;

}

#title{
    width:100%;
    text-align: center;
    padding: 30px 0px;
    margin-bottom: 30px;
    background-color: #44546A;
}
#title h1 a {
    color: #FFC000;
    font-size: 32pt;
    text-decoration: none;

}
#user-prompt-area{
    display:block;
    background-color:white;
    padding:40px;
    text-align: center;
    margin:10px 0px;
}
#trail-grid{
    display:inline-block;

}

#trail-grid li{



    font-size: large;
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
    line-height: 80px;
    float:left;
    margin:10px;
    width:240px;
    height: 80px;
    padding:5px;
    background-color:#DEEBF7;
}

#trail-grid li:hover{

    background-color:#5B9BD5;
}

#content-area{
    display:block;
    padding: 20px 10px;
    overflow: auto;
    background-color:white;
}
#memex-area{
    width:360px;
    padding: 0px;
    float: left;
    border: 1px solid rgb(182, 189, 192);;
}
#memex-input{
    background-color: white;
    ;

}

#memex-form{

    padding-bottom: 10px;
    background-color: #F3F3EE;
    border: 1px solid #d2cdc3;

}

#memex-trail-title{
    font-size: 16pt;
    padding:10px;
    margin: 0px 0px;
    background: rgb(182, 189, 192);
}

#add-new-title{
    padding:10px;
    margin: 0px;
}
#memex-form-title{
        padding:10px;
    margin: 0px -10px;
}
#recommendations-title{

    padding:10px;

}
#empty-memex-list{
    display:none;
    padding: 10px;
    font-size: 12pt;
}

.memex-form-link{
    width:300px;
    height:30px;
    margin-bottom:10px;
    display:block-inline;
    font-size: 14pt;
    font-family: 'Ropa Sans', sans-serif;
    padding-left: 4px;
}
.memex-form-tags{
    width:250px;
    height:30px;
    margin-bottom:10px;
    display:block-inline;
    font-size: 14pt;
    font-family: 'Ropa Sans', sans-serif;
    padding-left: 4px;

}

#map-and-recommendations{
    width:690px;
    text-align: center;
    padding:0px;
    margin-left:10px;
    display: inline-block;


}

#map-canvas{
    height: 300px;
    width: 550px;
    display: inline-block;
    float: none;
}

.column-titles{
    font-size: 14pt;
    background-color: rgb(182, 167, 139);
    color:white;
    padding:5px 0px;
}

.recommendation-title{
    background-color: rgb(226, 226, 226);
    color:black;
    padding:5px 0px;
}
#recommendations{
    display: inline-block;
    width:100%;
    float:none;
}

.recommended-list{
    text-align:center;
    width:33%;
    background-color: white;

    float:left;
    border: 1px solid #d2cdc3;
    height: 100%;
}

.recommended-list ol{

}
.recommended-list li{
    padding:5px;
    margin-bottom:0px;
    border-bottom: 1px dashed #DEEBF7;
}
.recommended-list li:hover{
    background-color:#DEEBF7;
    border:1px solid #4472C4;
}
.recommended-list li p{
    color:#a2a2a2;
    overflow: hidden;
    height: 20px;
}

.trail-item{
    height: 60spx;
    overflow: hidden;
    padding:10px;
    border-bottom: 1px dashed #DEEBF7;
}

.trail-item:hover{
    background-color: #DEEBF7;
    border:1px solid #4472C4;
}
.trail-item img{
    width: 86px;
    height: 86px;
    float:left;
    margin-right: 5px;

}
.trail-item a{
    height:20px;
    color: #4472C4;

}
.trail-item p{
    color:#a2a2a2;
    overflow: hidden;
    height: 20px;
}


.trail-item img{
    z-index: 200;
    background-color: red;
}

.trail-item-tags{

    display: inline-block;
}
.trail-item-tags li{ 
    background-color: none;
    display:block;
    float:left;

    background-color: #DEEBF7;
    margin-right:5px;
    margin-top: 10px;
    margin-left: 5px;
    padding:5px;
    font-size: small;
    z-index:2;
}
.trail-item-tags li:hover{
    background-color: #5B9BD5;
}
.trail-item-menu{
    color:#5B9BD5;
    float:right;
    display:block;
    z-index: 10;
    position:relative;
    text-align:right;
    margin-right:-10px;
    opacity:.1;
}
.trail-item-menu:hover{
    opacity:1;
}
.trail-item-menu li{
    padding:2px;
    font-size: small;
}
.trail-item-menu li:hover{
    color:white;
    background-color: #4472C4;
    cursor: pointer;
    cursor: hand;
}
.trail-item-link{
    width:310px;
    word-break: break-all;
    float: left;
    z-index: 2;
    margin: 5px;
    position: absolute;
}

/*.trail-item-link a{
 text-wrap: supress;
}*/

button#new-trail-button {
    padding: 1px 3px;
    margin-bottom: 5px;
    font-size: 12pt;
    width: 72px;
    height: 28px;
    vertical-align: middle;
    font-family: 'Ropa Sans', sans-serif;    
}

button#new-link-button {
    padding: 1px 3px;
    font-size: 12pt;
    width: 72px;
    height: 28px;
    vertical-align: middle;
    font-family: 'Ropa Sans', sans-serif;    
}

input#new-trail-name {
    height: 24px;
    width: 248px;
    font-size: 14pt;
    font-family: 'Ropa Sans', sans-serif;
}

.trail-item-order{
    display: none;
    z-index: 1;
    position:absolute;
    text-align: right;
    font-size: 50pt;
    width:340px;
    opacity:.1;
    color: #4472C4
}

/*.trail-item-order:hover{
    opacity:.7;

}*/
